[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygithub = "~=1.55"
httpx = "~=0.23.0"
jinja2 = "~=3.1.2"
tomli = "~=2.0.1"
tomli-w = "~=1.0.0"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
