pkgbase = firebase-tools-bin
	pkgdesc = The Firebase Command Line Tools (bundled official standalone binary)
	pkgver = {{ version }}
	pkgrel = 1
	url = https://github.com/firebase/firebase-tools
	arch = x86_64
	license = MIT
	conflicts = firebase-tools
	options = !strip
	source = {{ bin_url }}
	source = {{ license_url }}
	md5sums = {{ bin_checksum }}
	md5sums = {{ license_checksum }}

pkgname = firebase-tools-bin
